<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/static/main.css">
</head>

<body id="about">
    <h1>ABOUT</h1>
    <h3>MADE BY</h3>
    <p>Erick</p>
    <h3>year</h3>
    <p>2021</p>
    <h4>for</h4>
    <P>ESEN prograII 2021</P>
    <img id="foto2" src="/static/images/ESEN.jpg" alt="Imagen ESEN">
    <br>
    <br>
    <a href="/index2">Go to Index2</a>
</body>

</html>