<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/main.css">
</head>

<body>
    <h1>Register my hobbies</h1>
    <div class="formulario">
        <label for="name">Nombre</label><br>

        <input type="text" id="name" name="name" value="Insert your name"><br>
        <br>
        <br>
        <label for="age">Age</label><br>
        <input type="text" id="age" name="age" value="Insert your age">
        <br>
        <br>
        <label for="hobbies">Chose your hobbies</label><br>
        <select name="hoobies" id="hobbies">
            <option value="Sleeping">Sleeping</option>
            <option value="eating">Eating</option>
            <option value="Singing">Singing</option>
            <option value="Gaming">Gaming</option>
            <option value="Work_out">Work out</option>

        </select>
    </div>
    <script src="static/main.js"></script><br>
    <br>
    <a href="/">Index1</a>

</body>

</html>